.EscoteirosMensalidades {
    margin-left: 80px;
    transition: margin-left 0.3s;
    padding: 20px;
}

.sidebar.expandido~.EscoteirosMensalidades {
    margin-left: 250px;
}

.boasVindas {
    display: flex;
    justify-content: end;
    font-size: 15px;
    margin-top: -10px;
}

.funcionalidades a{
    text-decoration: none;
}
h1 {
    font-size: 30px;
    padding-left: 30px;
    color: #033D2F;
    margin-top: -30px;
}

.btn-verMensalidades{
    display:none
}
.EscoteirosMensalidades button {
    padding: 6px;
    font-size: 13px;
    font-family: Poppins, sans-serif;
    border-radius: 5px;
    margin-top: 0px;
    border: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.EscoteirosMensalidades button:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.288);
}

.botoesGestao {
    gap: 20px;
    display: flex;
}

.botaoEscoteiro {
    display: flex;
    gap: 5px;
    background-color: #276749;
}


.botaoMensalidade {
    display: flex;
    gap: 5px;
    background-color: #8E44AD;
}

.funcionalidades {
    display: flex;
    align-items: center;
    padding-left: 50px;
    margin-top: -15px;
}

.pesquisa {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    padding-left: 250px;
    margin-top: -8px;
}

.inputBusca {
    display: flex;
    align-items: center;
}

input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus {
    border-color: #276749;
    box-shadow: 0 0 5px rgba(39, 103, 73, 0.3);
}

#btn-buscar {
    cursor: pointer;
    /* Mostra que a imagem é interativa */
    margin-left: 10px;
    /* Ajuste o espaçamento conforme necessário */
}

.filtroDiv {
    position: relative;
    padding-left: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.filtrar-btn {

    cursor: pointer;
    display: inline-block;
}

.filtro {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
}


/* logicazinha de lista dos escoteiros */
#mensagem {
    color: #ff0000;
    font-weight: bold;
    display: none;
    /* Inicialmente escondido */
}

#escoteiros-lista {
    display: none;
    /* Inicialmente escondido até que haja dados para mostrar */
}

#listaEscoteiros {
    padding-left: 20px;
    margin-top: 10px;
}

/* .escoteiro {
    background-color: #ECCF97;
    height: 60px;
    width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 14px;
    display: flex;
     justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
} */

.escoteiro {
    background-color: #ECCF97;
    height: 60px;
    width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    margin-top: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    flex: 1; 
    padding: 10px;
}

.identificacao{
    display: flex;
    gap: 15px;
}
.dados {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.mensalidadeInfo {
    display: flex;
    gap: 200px;
    justify-content: space-between;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
}

.botoes button{
    padding: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.editar-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.excluir-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.btn-darBaixa{
    background-color: #A13344;
}

.btn-verMensalidades{
    background-color: #896028;
}

 a{
    text-decoration: none;
}